@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: rgba(10, 10, 10, 0.2);
  color: var(--ERROR);
  font-size: 1rem;
  font-weight: 700;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.loginErr {
  text-align: center;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 1px solid var(--ERROR);
}


.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  cursor: pointer;
  place-content: center;
  transition: ease-out 0.2s;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.1);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Yantramanav', sans-serif;
  min-height: 100vh;
  background-color: rgba(10, 10, 10, 0.95);
  color: var(--COLOR);
  background-image: url('./img/background.jpeg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
}


.public {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
}

.public footer{
  margin-bottom: 50px;
}

.footer-button a{
  border: 2px solid #FF9209;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 400;
  transition: ease-out 0.2s
}

.footer-button a:hover{
  border: 2px solid #FF9209;
  background-color: #FF9209;
  color: #000;
}

.public__main,
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  flex-grow: 1;
  padding: 1em;
}

.public .public__main h1{
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
}

.public__main span{
  color: #FF9209;
}

.public .public__main p{
  font-weight: 500;
  font-size: 20px;
}

.welcome a::before {
  color: #FF9209;
  content: "➜ "
}

.welcome span{
  color: #FF9209;
  text-transform: capitalize;
}

.welcome p{
  font-style: 2.5rem;
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.dash-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container h1{
  padding: 20px 0px 5px 0px ;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
}

.dash-header__nav {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #FF9209;
  gap: 0.5em;
  width: 100vw;
}

.dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #FF9209;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 1em;
}

.user_data{
  display: flex;
  gap: 1em;
}

.dash-footer p{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.dash-footer span{
  color: #000;
  text-transform: capitalize;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__title-row span{
  color: #FF9209;
}

.form__input,
.form__submit-button {
  min-width: 250px;
  padding: 0.5em;
  border-radius: 5px;
}

.form__input--text {
  min-height: 150px;
}

.form__submit-button{
  color: black;
  border: 2px solid #FF9209;
  background-color: darkorange;
  cursor: pointer;
  transition: ease-out 0.2s;
  font-weight: 500;
}

.form__submit-button:hover{
  border: 2px solid #FF9209;
  background-color: transparent;
  color: white;
}


.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}


@media screen and (min-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  .dash-header__nav {
    gap: 0;
  }

}

@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .welcome h1{
    font-size: 2.5rem;
  }

  .welcome p{
    font-size: 1.5rem;
  }


  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }

}

@media screen and (max-width: 768px) {

  .welcome h1{
    font-size: 2.25rem;
  }

  .welcome p{
    font-size: 1.5rem;
  }

  .dash-header__container h1{
    font-size: 40px;
  }

  .dash-footer .user_data{
    line-height: 1;
    display:block;
    gap: 0em;
  }

  .dash-footer .user_data p{
    font-size: 1rem;
  }
  
  .dash-footer .date_time{
    padding-bottom: 10px;
    font-size: 1rem;
  }

  .icon-button {
    width: 45px;
    height: 40px;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 400px) {

  .dash-header {
    background-color: #000;
  }

  .welcome h1{
    font-size: 2.25rem;
  }

  .welcome p{
    font-size: 1.25rem;
  }

  .dash-header__container h1{
    font-size: 35px;
  }

  .dash-footer{
    display: block;
  }

  .icon-button {
    width: 45px;
    height: 35px;
    font-size: 1.5rem;
  }

  .welcome h1{
    font-size: 2rem;
  }

  .loginErr {
    width: 90%;
  }

}